html, body {
	height: 100%;
	margin: 0;
}

body {
	background: -webkit-linear-gradient(45deg, #c920bb , #13f2d8);
	background: -moz-linear-gradient(45deg, #c920bb , #13f2d8);
	background: -o-linear-gradient(45deg, #c920bb , #13f2d8);
	background-attachment: fixed; 
}
.container {
	height: 100%;
}

.aside {
	position: fixed;
    bottom: 100px;
    right: 100px;
    width: 250px;
    height: 150px;
}

.aside nav {
	margin-bottom: 20px;
}

nav a {
	text-decoration: none;
	color: white;
	font-size: 30px;
}

.sources img {
	margin-right: 25px;
	vertical-align: super;
}

.sources {
	margin-left: 250px; 
}

.navigation {
	float: right;
	display: inline-flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
	align-items: flex-end;
}

.container {
	height: 100%;
	margin: 0;
}

.section {
	min-width: 100%;
	min-height: 100%;
	color: white;
	font-size: 60px;
	font-family: Arial;
	font-weight: normal;
	/*padding: 50px;*/
}

.content {
	margin: 70px;
	width: 66%;
	float: left;
	line-height: 80px;
}

.exponenta {
	border-style: solid;
	border-color: white;
	padding: 15px;
}

.aside {
	position: fixed;
}

